<!DOCTYPE html>
<html ng-app="vvAnalogy">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="vvStyle.css">
    <script src="angular.js"></script>
    <script src="string.js"></script>
    <script src="vvAnalogy.js"></script>
    <script src="vvHeapOps.js"></script>
    <script src="vvDataInput.js"></script>
    <title>RVLC</title>
  </head>
  <body>
      <div ng-controller="vvBuildHeap">

          <input type="text" ng-model="vvInputString"> </input>
          <!--
          <input type="text" ng-model="vvInputNode"> </input>
          -->
          <button ng-click="vvGenerateDict()"> Generate Dictionary </button>
          <button ng-click="vvInput2Heap()"> Generate Heap </button>
        <div>
          Input : {{ vvInputString }}
        </div>

        <p> Min Value of Heap : {{ vvHeapMin }}</p>



        <table ng-show="vvHeapArray">
          <tr>
            <td> Heap Symbol </td>
            <td> Frequency </td>
          </tr>
          <tr ng-repeat="x in vvHeapArray">
            <td>
              {{ x.iiSymbol }}
            </td>
            <td>
              {{ x.iiFrequency }}
          </tr>
        </table>

        <table ng-show="vvDictWithFreq">
          <tr>
            <td> Symbol </td>
            <td> Frequency </td>
          </tr>
          <tr ng-repeat="x in vvDictWithFreq">
            <td>
              {{ x.iiSymbol }}
            </td>
            <td>
              {{ x.iiFrequency }}
            </td>
          </tr>
        </table>

        <!--
        <p ng-repeat="x in vvHeapArray">
          Index is: {{ x }}
        </p>
        -->
      </div>
  </body>
</html>
