<!DOCTYPE html>
<html ng-app="vvAnalogy">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="vvStyle.css">
    <script src="angular.js"></script>
    <script src="string.js"></script>
    <script src="vvAnalogy.js"></script>
    <script src="vvHeapOps.js"></script>
    <script src="vvDataInput.js"></script>
    <script src="vvTree.js"></script>
    <title>RVLC</title>
  </head>
  <body>
      <div ng-controller="vvBuildHeap">

          <input type="text" ng-model="vvInputString"> </input>
          <!--
          <input type="text" ng-model="vvInputNode"> </input>
          -->
          <button ng-click="vvGenerateDict()"> Generate Dictionary </button>
          <button ng-click="vvInput2Heap()"> Generate Heap </button>
          <button ng-click="vvGenerateHuffmanTree()"> Generate Huffman Tree </button>
          <button ng-click="vvPaddingInsertion()"> Padding Insertion </button>

        <div>
          Input : {{ vvInputString }}
        </div>

        <p> Avg Code Length : {{ vvAvgCodeLength }}</p>
        <p> Overall rank : {{ vvOverallRank }}</p>

        <table ng-show="vvHuffmanTree" ng-hide="vvHeapArray" ng-hide="vvDictWithFreq">
          <tr>
            <td> Symbol </td>
            <td> frequency </td>
            <td> codeword </td>
            <td> id </td>
            <td> parent </td>
            <td> left </td>
            <td> right </td>
            <td> rank </td>
          </tr>
          <tr ng-repeat="x in vvHuffmanTree">
            <td> {{ x.ttSymbol }}</td>
            <td> {{ x.iiFrequency }} </td>
            <td> {{ x.ttCodeword }} </td>
            <td> {{ x.ttID }} </td>
            <td> {{ x.ttParent }} </td>
            <td> {{ x.ttLeft }} </td>
            <td> {{ x.ttRight }} </td>
            <td> {{ x.ttRank }} </td>
          </tr>
        </table>

        <table ng-show="vvHeapArray" ng-hide="vvHuffmanTree" ng-hide="vvDictWithFreq">
          <tr>
            <td> Heap Symbol </td>
            <td> Frequency </td>
          </tr>
          <tr ng-repeat="x in vvHeapArray">
            <td>
              {{ x.iiSymbol }}
            </td>
            <td>
              {{ x.iiFrequency }}
          </tr>
        </table>

        <table ng-show="vvDictWithFreq" ng-hide="vvHuffmanTree" ng-hide="vvHeapArray">
          <tr>
            <td> Symbol </td>
            <td> Frequency </td>
          </tr>
          <tr ng-repeat="x in vvDictWithFreq">
            <td>
              {{ x.iiSymbol }}
            </td>
            <td>
              {{ x.iiFrequency }}
            </td>
          </tr>
        </table>

        <!--
        <p ng-repeat="x in vvHeapArray">
          Index is: {{ x }}
        </p>
        -->
      </div>
  </body>
</html>
