.textArea {
    width: 60%;
    margin-left:20%;
    margin-right:20%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: justify;
}

input[type=submit] {
    width: 60%;
    margin-left:20%;
    margin-right:20%;
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.button_panel, .contact_me
{
    display: table;
    margin: 0 auto;
}

h1, h3 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align:center;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align:justify;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-left:20%;
    margin-right:20%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {background-color: #f5f5f5}

table, th, td {
    border: 1px solid black;
}

caption {
    display: table-caption;
    text-align: center;
}
